<form [formGroup]="profileForm">

    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label><br>
    <br>

    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>


</form>
<div formGroupName="address">
    <h3>Address</h3><br>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label><br><br>

    <label>
      City:
      <input type="text" formControlName="city">
    </label><br><br>

    <label>
      State:
      <input type="text" formControlName="state">
    </label><br><br>

    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label><br><br>
</div>


<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<p>
    <button (click)="updateProfile()">Update Profile</button>
</p>
<input type="text" formControlName="firstName" required>
<p>
    Form Status: {{ profileForm.status }}
</p>